* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.navigationbar{
    background-image: linear-gradient(90deg, #DFABFB, #70B0C2);
    color: white;
    border-bottom: 2px solid white;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Oswald';
}
.navigationbar a{
text-decoration: none;
color: white;
font-weight: 500;
}
.navigationbar a.nav-logo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Oswald';
    background: linear-gradient( #E4AAFA, #FB3277, #A1002B);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}
.navigationbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}
.navigationbar ul li{
    display: inline-block;
}
.navigationbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
    letter-spacing: 1px;
}
.navigationbar ul li a:hover{
    background-color: rgb(131, 0, 44);
}
body{
    background-image: linear-gradient(90deg, #DFABFB, #70B0C2);
}
.content{
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-left: 100px; 
}
h1{
    font-size: 70px;
    margin-top: 150px;
    margin-left: 25%;
    text-decoration-line: underline;
}
p{
    margin-top: 75px;
    margin-left: 25%;
    font-size: 18px;
    text-align: justify;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.review{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    background: rgb(131, 0, 44);
    cursor: pointer;
    padding: 12px 20px;
    color: white;
    border: 0;
    border-radius: 20px;
    top: 75%;
    left: 20%;
    letter-spacing: 1px;
    text-decoration: none;
}
.next{
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    background: rgb(131, 0, 44);
    cursor: pointer;
    padding: 12px 20px;
    color: white;
    border: 0;
    border-radius: 20px;
    top: 90%;
    right: 5%;
    letter-spacing: 2px;
    text-decoration: none;
}
.next:hover{
    background: gray;
}
#uic{
    position: absolute;
    top: 10%;
    left: 5px;
    width: 250px;
    filter: grayscale(0);
}
#uic:hover{
    filter: grayscale(1);
    transition: 3s;
    cursor: default;
}
#face{
    position: absolute;
    right: 15%;
    top: 25%;
    width: 20%;
    height: 40%;
    filter: none;
}
h2{
    margin-top: 5%;
    margin-left: 25%;
    font-size: 50px;
    text-decoration-line: underline;
}
#face:hover{
    filter: none;
    cursor: default;
}
table {
    width: 400px;
    margin-top: 5%;
    margin-left: 35%;
    font-size: 24px;
    font-weight: 500;
}
h3 { 
    position: absolute;  
    font-size: 30px;
    color: white;
    right: 20%;
    font-family: 'Oswald', sans-serif;
}
.socials {
    position: absolute;
    right: 20%;
    bottom: 20%;

}
#facebook{
    position: absolute;
    right: 150px;
}
#twitter{
    position: absolute;
    right: 75px;
}
